body {
  text-align: center;
  background-color: #092532;
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size: 5rem;
  color: #DBEDF3;
  text-shadow: 3px 0 #FF4136;
}

h2, h3, h4{
  color: #DBEDF3;
  font-weight: 100;
}

footer {
  color: #DBEDF3;
}

.play{
  margin-top: -50px;
}

.dice{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.player1{
  margin: 20px;
}

.player2{
  margin: 20px;
}

.counter{
  display: flex;
  justify-content: center;
}

.p1, .p2, .draw{
  margin: 0 40px 0 40px;
}
/* button */

.button {
	background-color: #092532;
	border: 2px solid #FF4136;
	border-radius: 8px;
	color: #DBEDF3;
	padding: 15px 50px;
	position: relative;
	transition: transform 0.2s linear;
  margin-bottom: 20px;
}

.button:active {
	transform: translateY(8px);
	box-shadow: 0 0 #FF4136,
			0 0 #FF725C;
}

.button:focus {
	outline: none;
}
